
/* logo */

.brand-logo img{
    width: 65px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}

header nav{
    position:fixed;
    top:0;
    z-index: 9999;
    
}


/* navbar */

.hide-on-med-and-down li a{
    text-transform: uppercase;
    font-weight: 400;
}
.hide-on-med-and-down li a:hover{
    background-color: rgba(255, 255, 255, 0.178);
    transition: 1s;
}


/* menu-dropdown */
.dropdown-content{
    background-color: black;
    color: white;
}

.dropdown-content li a{
    color: white;
}

.dropdown-content li a:hover{
    background-color:rgba(255, 255, 255, 0.178);
    color: rgb(14, 13, 13);
    transition: 1s;
}


/* main */
.card-penel{
    height: 400px;
}

.container h3{
    margin-top: 100px;
    margin-bottom: 50px;
}



/* menu-mobile */
.sidenav{
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.sidenav li a{
    color: white;
    font-size: 15px;
    
}

.sidenav ul{
    margin-top: 90px;
}
.sidenav li a:first-child{
    margin-top: 70px;
}

.sidenav li a:hover{
    background-color: gray;
    transition: 1s;
}

nav{
    height: 80px;
}

nav ul{
    margin-top: 10px;
}

nav i{
    font-size: 50px;
    margin-top: 10px;
    color:gray;
}

/* FOOTER */

 ul li .grey-text img{
     margin-bottom: 10px;
 }

 footer{
     margin-top: 200px;
 }



/* css da página sobre nós */

 article .card-sobre{
     margin-top: 40px;
 }

 article h1{
     margin-top: 150px;
 }

 article .video{
     display: flex;
     justify-content: center;
     margin-top: 100px;
     margin-bottom: 0;
 }

 


 /* css da página departamentos */
 
 


 article img{
    width: 100px;
    height: 100px;
 }

 article .card{
     border: 0;
 }

 .caixa{
     margin-top: 150px;
 }

 .card-content p a{
     font-size: 17px;
    
 }


 /* css ministerios */

 section div h2{
     margin-bottom: 100px;
 }

 article h4{
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .modal{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 130px;
 }

 .modal-dbv{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .modal-dbv img{
     margin-right: 10px;
 }

 .atividades li {
    margin-bottom: 10px;
 }

 article div img{
     width: 40px;
     height: 40px;
     margin-right: 20px;
 }