
/* logo */

.brand-logo img{
    width: 60px;
    height: 54px;
    margin-top: 3px;
    margin-bottom: 5px;
}

header nav{
    position:fixed;
    z-index: 9999;
}


/* navbar */

.hide-on-med-and-down li a{
    text-transform: uppercase;
    font-weight: 400;
}
.hide-on-med-and-down li a:hover{
    background-color: rgba(255, 255, 255, 0.178);
    transition: 2s;
}


/* menu-dropdown */
.dropdown-content{
    background-color: black;
    color: white;
}

.dropdown-content li a{
    color: white;
}

.dropdown-content li a:hover{
    background-color:rgba(255, 255, 255, 0.178);
    color: rgb(14, 13, 13);
    transition: 2s;
}


/* main */
.card-penel{
    height: 400px;
}

.container h3{
    margin-top: 100px;
    margin-bottom: 50px;
}



/* menu-mobile */
.sidenav{
    background-color: rgba(0, 0, 0, 0.788);
    
}

.sidenav li a{
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.sidenav li a:nth-child(1){
    margin-top: 50px;
}

.sidenav li a:hover{
    background-color: gray;
    transition: 2s;
}

/* FOOTER */

 ul li .grey-text img{
     margin-bottom: 10px;
 }

 footer{
     margin-top: 300px;
 }